@import url("http://twitter.github.com/bootstrap/assets/css/bootstrap.css");

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
	color: #333;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover,
h1 > a:hover code, h2 > a:hover code, h3 > a:hover code, h4 > a:hover code, h5 > a:hover code, h6 > a:hover code {
	color: #005580;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code, nav code {
	padding: 0;
	border: 0;
}

h1 code {
	font-size: 36px;
	line-height: 40px;
}

h2 code {
	font-size: 30px;
	line-height: 40px;
}

h3 code {
	font-size: 24px;
	line-height: 40px;
}

h4 code {
	font-size: 18px;
	line-height: 20px;
}

h5 code {
	font-size: 14px;
	line-height: 20px;
}

h6 code {
	font-size: 12px;
	line-height: 20px;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
	color: #333;
}

nav code {
	color: #08C;
}

nav a:hover {
	color: #08C;
	padding: 0;
	border: 0;
}

section.level1 {
	padding-top: 30px;
}

section h1, h1.toc {
	padding-bottom: 9px;
	margin: 30px 0 30px;
	border-bottom: 1px solid #EEE;
}
